/********** FONTS **********/
@font-face {
    font-family: SurveyPunchLogo;
    src: url(../fonts/DIMIS___.TTF);
}
/********** END OF FONTS **********/



/********** OVERRIDES **********/
/* MENUBAR TOP LEFT @ _LAYOUT.CSHTML */
a.sp-menubar {
    position: relative !important;
    padding-left: 0 !important;
}
/********** END OF OVERRIDES **********/



/********** BACKGROUND COLOR ADJUSTMENTS **********/
.sp-bg-fblue {
    background-color: #3b5998;
}
/********** END OF BACKGROUND COLOR ADJUSTMENTS **********/



/********** EXTRA SMALL DEVICES (PORTRAIT PHONES, LESS THAN 576PX) **********/
/* NO MEDIA QUERY SINCE THIS IS THE DEFAULT IN BOOTSTRAP */
a.sp-logo {
    font-family: SurveyPunchLogo, sans-serif;
    font-size: 21px !important;
    transition: font-size .5s ease-in-out;
}

    a.sp-logo:hover {
        transition: font-size 1.5s ease-in-out;
        transform: scale(1.4);
    }
/********** END OF EXTRA SMALL DEVICES (PORTRAIT PHONES, LESS THAN 576PX) **********/




/********** SMALL DEVICES (LANDSCAPE PHONES, 576PX AND UP) **********/
@media (min-width: 576px) {
    a.sp-logo {
        font-size: 34px !important;
        transition: font-size .5s ease-in-out;
    }
}
/********** END OF SMALL DEVICES (LANDSCAPE PHONES, 576PX AND UP) **********/



/********** MEDIUM DEVICES (TABLETS, 768PX AND UP) **********/
@media (min-width: 768px) {
    a.sp-logo {
    }
}
/********** END OF MEDIUM DEVICES (TABLETS, 768PX AND UP) **********/




/********** LARGE DEVICES (DESKTOPS, 992PX AND UP) **********/
@media (min-width: 992px) {
}
/********** END OF LARGE DEVICES (DESKTOPS, 992PX AND UP) **********/




/********** EXTRA LARGE DEVICES (LARGE DESKTOPS, 1200PX AND UP) **********/
@media (min-width: 1200px) {
}
/********** END OF EXTRA LARGE DEVICES (LARGE DESKTOPS, 1200PX AND UP) **********/
